@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* COMMON */

:root {
  --transition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(35, 35, 85);
}

h6 {
  font-size: 1.1rem;
  color: rgb(24, 24, 49);
}

span {
  font-size: 0.9rem;
  color: #757373;
}

label {
  display: block;
  width: 100px;
  text-align: center;
}

select {
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  width: 200px;
  outline: none;
}

input {
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: block;
  width: 200px;
  outline: none;
}

/* NAV */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 1vw 8vw;
  background: #fff;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 999;
}

nav img {
  width: 200px;
  cursor: pointer;
}

nav .navigation {
  display: flex;
}

nav .navigation ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .navigation ul li {
  list-style: none;
  margin-left: 30px;
}

nav .navigation ul li a {
  text-decoration: none;
  color: rgb(21, 21, 100);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3 ease;
}

nav .navigation ul li a:hover, nav .navigation ul li a.active {
  color: #FDC938;
}

nav .navigation ul li a.blue {
  font-size: 0.8rem;
  padding: 13px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: rgb(21, 21, 100);
  border: 1px solid #412e88;
}

nav .navigation ul li a.blue:hover {
  box-shadow: 2px 2px 11px rgba(0, 0, 0, 0.1);
}

#menu-btn {
  width: 30px;
  height: 30px;
  display: none;
}

#menu-btn img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

#menu-close {
  display: none;
}

/* home */

.home {
  width: 100vw;
  height: 100vh;
  padding-top: 80px;
  background-color: rgb(170, 170, 207);
  /* display: flex;
  justify-content: center; */
}

.home .container {
  width: 90%;
  padding: 30px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: 50px;
  box-shadow: 2px 2px 3px #dfdfdf;
}

.header-selection {
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-bottom: 1px solid black;
  padding-bottom: 21px;
}

.input-container {
  display: flex;
  justify-content: start;
  align-items: center;
}

.station {
  padding: 15px 0 5px;
}

.station, .arrival-time {
  display: flex;
  gap: 15px;
  justify-content: start;
  align-items: center;
}

.info {
  display: grid;
  padding-top: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
}

.info label {
  padding-bottom: 10px;
}

.info input {
  width: 70%;
}

.btn-container {
  padding-top: 30px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.btn-container .btn {
  width: 170px;
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 4px;
}

/* search */

.info-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid rgb(171, 171, 171);
  border-radius: 8px;
}

.date {
  font-size: 1.8rem;
}

.train {
  font-size: 1.8rem;
}

.station-container {
  display: flex;
  gap: 13px;
  align-items: center;
  font-size: 2rem;
}

.time-container {
  display: flex;
  gap: 13px;
  align-items: center;
  font-size: 2rem;
  max-width: 200px;
}

.arrow {
  color: black;
}

.open {
  font-size: 32px;
}

.details {
  display: flex;
  gap: 40px;
  font-size: 21px;
  justify-content: center;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.train-container, .seat-container, .price-container {
  display: flex;
  gap: 15px;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 67%);
  border-radius: 12px;
}


/* MEDIA*/

@media (max-width: 1280px) {
  select {
    width: 170px;
  }

  input {
    width: 170px;
  }
  
  .container {
    width: 90%;
  }

  /* .info {
    grid-template-columns: 1fr 1fr 1fr;
  } */
}

@media (max-width: 992px) {
  .header-selection {
    align-items: center;
  }

  .station, .arrival-time {
    flex-direction: column;
    padding: 10px;
  }

  .info {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 768px) {
  
}

@media (max-width: 600px) {
  .home {
    height: 100%;
    padding-bottom: 20px;
  }

  label {
    width: 100%;
    text-align: left;
    padding: 10px;
  }

  select {
    width: 100%;
  }

  input {
    width: 100%;
  }

  .home .container {
    width: 65%;
  }

  .input-container {
    width: 100%;
    flex-direction: column;
  }

  .station, .arrival-time {
    flex-direction: column;
    justify-content: center;
  }

  .info {
    grid-template-columns: 1fr;
    place-items: center;
  }

  .info div {
    width: 100%;
  }

  .btn-container .btn {
    width: 70px;
  }
}